<div class="header">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h1 class="header-page">Transaction</h1>
    </div>
    <div class="col centered">
      <button *ngIf="!idBlock" class="button-cancel" (click)="openModal()">
        Mine
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <p class="subheader-page" *ngIf="idBlock; else pendingT">
        Translations for block {{ idBlock }}
      </p>
    </div>
    <div class="col centered">
      <button *ngIf="!idBlock" class="button-cancel" (click)="navigateToAdd()">
        Add transaction
      </button>
    </div>
  </div>
</div>
<ng-template #pendingT>
  <p class="subheader-page">Pending transactions</p>
</ng-template>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sender</th>
      <th scope="col">Recipient</th>
      <th scope="col">Amount</th>
      <th scope="col">Signature</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of transactions">
      <th>
        <i
          class="fa fa-copy copy-icon"
          (click)="copyTekst(t.sender)"
          title="Copy sender"
        ></i>
        <p class="cell">{{ t.sender }}</p>
      </th>
      <td>
        <i
          class="fa fa-copy copy-icon"
          (click)="copyTekst(t.recipient)"
          title="Copy recipient"
        ></i>
        <p class="cell">
          {{ t.recipient }}
        </p>
      </td>
      <td>{{ t.amount }}</td>
      <td>
        <i
          class="fa fa-copy copy-icon"
          (click)="copyTekst(t.signature)"
          title="Copy signature"
        ></i>
        <p class="cell">{{ t.signature }}</p>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #mineModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Mine pending transactions</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="modelGroup"> -->
    <div ngbDropdown>
      <input
        class="form-control custom-input"
        id="dropdownBasic1"
        ngbDropdownToggle
        placeholder="Choose key by nickname"
        [(ngModel)]="mineKey"
        readonly="true"
      />

      <div ngbDropdownMenu>
        <li *ngFor="let k of keys">
          <button ngbDropdownItem (click)="setMineKey(k.nickname)">
            {{ k.nickname }}
          </button>
        </li>
      </div>
    </div>
    <!-- <div class="form-group">
        <label class="form__label">nicknameKey: </label>
        <input
          type="text"
          class="form-control custom-input"
          formControlName="nicknameKey"
        />
      </div> -->
    <!-- </form> -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="buttons-footer__button button-cancel buttons-footer--left"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="buttons-footer__button button-save buttons-footer--right"
      (click)="mine()"
    >
      Mine
    </button>
  </div>
</ng-template>
