<h1 class="header-page">Blocks on chain</h1>

<p class="subheader-page">
  In this table You can see all chains.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Hash</th>
      <th scope="col">Index</th>
      <th scope="col">Nonce</th>
      <th scope="col">Privious hash</th>
      <th scope="col">Timestamp</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of blocks">
      <th scope="row">{{ b.hash }}</th>
      <td>
        {{ b.index }}
      </td>
      <td>{{ b.nonce }}</td>
      <td>{{ b.previoushash }}</td>
      <td>{{ b.timestamp }}</td>
      <td>
        <button class="button-cancel" (click)="navigateToTranslations(b.index)">
          Transactions
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
  >
  </ngb-pagination>

  <select class="custom-select" style="width: auto;" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div> -->
