<div>
  <h1 class="header-page">Network Nodes</h1>
  <button class="button-cancel" (click)="openModal()">
    Register in network
  </button>
</div>
<p class="subheader-page">
  Nodes that are currently in Your network.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of transactions; let i = index">
      <th>{{ i }}</th>
      <td>
        {{ t }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #registerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Register in existing network</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modelGroup">
      <div class="form-group">
        <label class="form__label">URL: </label>
        http://localhost:
        <input
          type="number"
          class="form-control custom-input"
          formControlName="networknodeurl"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="buttons-footer__button button-cancel buttons-footer--left"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="buttons-footer__button button-save buttons-footer--right"
      (click)="registerNetwork()"
    >
      Register
    </button>
  </div>
</ng-template>
