<div class="header">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h1 class="header-page">Account balance</h1>
      <p class="subheader-page"></p>
    </div>
    <div class="col centered"></div>
  </div>
</div>

<p class="subheader-page"></p>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div ngbDropdown>
        <input
          class="form-control custom-input"
          ngbDropdownToggle
          placeholder="Choose key by nickname"
          [(ngModel)]="mineKey"
          readonly="true"
        />

        <div ngbDropdownMenu>
          <li *ngFor="let k of keys">
            <button ngbDropdownItem (click)="setMineKey(k)">
              {{ k.nickname }}
            </button>
          </li>
        </div>
      </div>
      <p class="label-balance" *ngIf="balance !== undefined">
        Your balance: {{ balance }}
      </p>
    </div>
    <div class="col"></div>
  </div>
</div>
<div *ngIf="transactions">
  <h1 class="header-page">Recent transactions</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
        <th scope="col">Signature</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transactions">
        <th>
          <i
            class="fa fa-copy copy-icon"
            (click)="copyTekst(t.sender)"
            title="Copy sender"
          ></i>
          <p class="cell">{{ t.sender }}</p>
        </th>
        <td>
          <i
            class="fa fa-copy copy-icon"
            (click)="copyTekst(t.recipient)"
            title="Copy recipient"
          ></i>
          <p class="cell">
            {{ t.recipient }}
          </p>
        </td>
        <td>{{ t.amount }}</td>
        <td>
          <i
            class="fa fa-copy copy-icon"
            (click)="copyTekst(t.signature)"
            title="Copy signature"
          ></i>
          <p class="cell">{{ t.signature }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
