/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: "Droid Sans", sans-serif !important;
}

button {
  margin-right: 15px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-size: smaller;
  color: white;
  border-radius: 1rem !important;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  padding: 0.5rem 1.8rem !important;

  &[disabled] {
    opacity: 0.6;
  }
}
.button-save {
  background-color: #1abc9c;
  &:hover:not([disabled]) {
    opacity: 0.5;
  }
}

.button-cancel {
  background-color: #2d5891;
  &:hover:not([disabled]) {
    opacity: 0.5;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-remove {
  background-color: #ad1c10;
  &:hover:not([disabled]) {
    opacity: 0.5;
  }
}
